@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// General
body {
    // background-color: lightgray;
}

/* Navbar */
.navbar {
    background-color: #46D7F4;
}

 /* Snake Search and Index */
 .snake-search-and-index {
     border: 1px solid lightgray;
     margin: 20px;
    //  padding: 10px;
 }

// Search Form
.search-form {
    padding: 20px;
    background-color: #2F5F83;
}

.search-form > form {
    font-size: 12px;
}

 /* Snake Index */
.snake-index-headers {
    list-style: none;
    border-bottom: 1px solid lightgray;
}

.snake-index-headers > li {
    padding: 5px;
    color: gray;
    font-size: 12px;
}

.snake-index-list {
    list-style: none;
}

/* Snake Index Detail */
.snake-index-detail > ul {
    list-style: none;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    color: gray;
    font-size: 12px;
}

// Footer
.page-footer {
    font-size: 12px;
}