@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// General
// body, html, #root, .app {
//     height: 100%;
// }

* {
    font-family: 'Lato', sans-serif;
}

body {
    background-image: linear-gradient(45deg, #e8ebf1, #ffffff)
}

/* Navbar */
.navbar {
    background-image: linear-gradient(45deg, #319cd7, #45bead)
}

 /* Snake Search and Index */
 .snake-search-and-index {
     border: 1px solid #e7e7e7;
     margin: 40px;
 }

// Search Form
.search-form {
    padding: 30px 20px 30px 20px;
    background-color: #214e60;
    margin: 0;
    border: 2px solid red;
}

.search-form > * {
    font-size: 12px;
    // border: 2px solid pink;
}

.search-form > form > input {
    font-size: 12px;
}

.search-form-title {
    font-size: 18px;
    padding-top: 7px;
}

.search-and-reset {
    display: flex;
    flex-direction: column;
}

.search-and-reset > button {
    cursor: pointer;
    margin-bottom: 5px;
}

.search-and-reset > a {
    text-align: center;
    // text-decoration: underline;
    cursor: pointer;
}

 /* Snake Index */
.snake-index {
    background-color: #ffffff;
    border: 2px solid green;
    height: 64vh;
}

.snake-index-headers {
    list-style: none;
    border-bottom: 1px solid #e7e7e7;
    margin: 0;
    border: 2px solid royalblue;
}

.snake-index-headers > li {
    padding: 5px;
    color: #6b7a86;
    font-size: 12px;
    // border: 2px solid brown;
}

.snake-index-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
    border: 2px solid fuchsia;
    height: 94%;
    overflow: hidden;
    overflow-y: scroll;
}

/* Snake Index Detail */
.snake-index-detail {
    border: 2px solid purple;
    border-bottom: 1px solid #e7e7e7;
    padding: 20px;
    color: #6b7a86;
    font-size: 12px;
}

.snake-index-detail > ul {
    list-style: none;
    // border-bottom: 1px solid #e7e7e7;
    // padding: 20px;
    // color: #6b7a86;
    // font-size: 12px;
}
.snake-index-detail > ul > li {
    padding-left: 5px;
    // border: 2px solid brown;
}
.snake-detail-image {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    position: relative;
    margin-top: -20px;
    margin-bottom: -20px;
}

// Footer
.page-footer {
    font-size: 12px;
}